# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Project runtime files
# config.json
servers.txt
server_stats.json
monitor.log
README.md

# Logs
*.log